

{{#each goals as |goal|}}

//console.log(goal)
<tr data-id={{goal.id}}>
  <td id='title-{{goal.id}}'>{{goal.title}}</td>
  <td id='status-{{goal.id}}'>{{goal.status}}</td>
  <td><button type="button" id='modify-{{goal.id}}' class='modify-button'>
    Modify
  </button></td>
  <td><button type="button" id='delete-{{goal.id}}' class='delete-button'>
    Delete
  </button></td>
</tr>

{{/each}}
